<div class="rs-modal-card">
  <div class="rs-modal-header">
    <div class="rs-icon-circle">
      <mat-icon>{{ data ? 'person_edit' : 'person_add' }}</mat-icon>
    </div>
    <h1 class="rs-modal-title">{{ data ? 'Editar Usuario' : 'Crear Nuevo Usuario' }}</h1>
  </div>

  <mat-dialog-content class="rs-dialog-content-custom">
    <form [formGroup]="form" class="rs-form-container" autocomplete="off">
      
      <div class="rs-form-group">
        <label>Nombre completo</label>
        <input type="text" formControlName="nombre" class="rs-input-base" placeholder="Nombre del usuario">
      </div>

      <div class="rs-form-group">
        <label>Correo electrónico</label>
        <input type="email" formControlName="email" class="rs-input-base" placeholder="correo@ejemplo.com">
      </div>

      <div class="rs-form-group">
        <label>Rol del sistema</label>
        <mat-select formControlName="rol" 
                    class="rs-input-base rs-select-custom" 
                    placeholder="Selecciona un rol"
                    panelClass="rs-select-panel-white">
          <mat-option value="ADMIN">ADMIN</mat-option>
          <mat-option value="TECNICO">TECNICO</mat-option>
        </mat-select>
      </div>

      <div class="rs-form-group" *ngIf="!data">
        <label>Contraseña</label>
        <input type="password" formControlName="password" class="rs-input-base" placeholder="••••••••">
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="rs-dialog-actions-right">
    <button mat-button (click)="cancelar()" class="btn-cancel">Cancelar</button>
    <button mat-raised-button (click)="guardar()" [disabled]="form.invalid" class="btn-save">
      {{ data ? 'Actualizar' : 'Guardar' }}
    </button>
  </mat-dialog-actions>
</div>